*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/2.1/taskArtifacts/cache.properties
.gradle/2.1/taskArtifacts/cache.properties.lock
.gradle/2.1/taskArtifacts/fileHashes.bin
.gradle/2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.1/taskArtifacts/outputFileStates.bin
.gradle/2.1/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/libraries/Gradle__java3d_vecmath_1_3_1.xml
.idea/libraries/Gradle__junit_junit_4_11.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
build.xml
build/built-jar.properties
build/classes/.netbeans_automatic_build
build/classes/.netbeans_update_resources
build/classes/rekinado/GUIInfo.form
build/classes/rekinado/GUInterface.form
manifest.mf
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml
/dist/
.idea/rekinado1.iml
